{% extends 'base.html' %}
{% block title %}Búsqueda{% endblock %}

{% block body %}
{% block contenido %}
  <!--<form method="post" action="/buscar/">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_subject">Ingresa el parámetro de busqueda</label>
      <input type="text" class="form-control" id="id_subject" name="search">
    </div>
	<br><br>
    <button type="submit" class="btn btn-success">Buscar</button>
  </form>   -->
  <div><b>{{message2}}</b></div>
{% endblock %}
{% endblock %}

